	body {
		font-family: 'Noto Sans Korean', sans-serif;
		text-decoration: none;
		}
		ul {list-style:none;}
		h1 {padding: 0 0 0 40px;}
		h2 {color: #6a5acd; font-size: 40px;}
		h5 {color: #6a5acd;}
		h6 {color: #787878; padding-left: 40px;}
	#column {width: 600px;}
